# Ignore artifacts:
build
coverage
.gitignore
.npmrc
eslint.config.mjs
package-lock.json
package.json
README.md
webpack.common.js
webpack.dev.js
webpack.prod.js
src/assets/favicon
src/assets/fonts
src/assets/images