:root {
    --task-form-bg: #fff;
}

.add-form {
    background: var(--task-form-bg);
}

.add-form details {
    width: 100%;
    max-width: var(--form-inner-wmax);
}

.add-form details ul {
    margin: 1.5rem;
}

.add-form details li {
    padding: 4px 8px;
}

.add-form details {
    margin-bottom: 1.5rem;
}