:root {
    --high-priority: #900d09;
    --high-priority-hover: #d0312d;
    --medium-priority: #FADA5E;
    --medium-priority-hover: #FFE36E;
    --low-priority: #3B7a57;
    --low-priority-hover: #40a368;
}

.components-list > button {
    margin-bottom: 1.5rem;
    margin-right: 1rem;
}

.high {
    background: var(--high-priority);
}

.high:hover {
    background: var(--high-priority-hover);
}

.medium {
    background: var(--medium-priority);
}

.medium:hover {
    background: var(--medium-priority-hover);
}

.low {
    background: var(--low-priority);
}

.low:hover {
    background: var(--low-priority-hover);
}

.task-item > * {
    font-size: 1.125rem !important;
}

.task-item h3 {
    margin-bottom: 0;
}

.task-item summary {
    padding: 10px 10px 10px 40px;
    font-size: 1rem;
}

.task-item summary:before {
    right: unset;
    left: 10px;
}

.task-item summary::after {
    right: unset;
    left: calc(20px/2 - 4px/2 + 10px);
}

.task-item .due-date {
    margin-left: auto;
    margin-right: 1rem;
    margin-bottom: 0;
}

.task-item .dlt-icon {
    padding: 1rem;
    font-size: 1.25rem;
}

.task-item .dlt-icon:hover {
    background: var(--dlt-color);
}

.task-item .high .dlt-icon {
    background: var(--high-priority-hover);
}

.task-item .high:hover .dlt-icon {
    background: var(--high-priority);
}

.task-item .medium .dlt-icon {
    background: var(--medium-priority-hover);
}

.task-item .medium:hover .dlt-icon {
    background: var(--medium-priority);
}

.task-item .low .dlt-icon {
    background: var(--low-priority-hover);
}

.task-item .low:hover .dlt-icon {
    background: var(--low-priority);
}

.task-item:hover .dlt-icon:hover {
    background: var(--dlt-color) !important;
    color: var(--secondary-color);
}

.task-item .task-details {
    padding: 16px;
}

.task-item section {
    padding-bottom: 16px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--border-color);
}

/*Task Notes*/
.task-notes {
    padding-left: 20px;
}

.task-notes li {
    padding: 4px 0;
}

/*Task Check List*/
.task-checklist {
    list-style: none;
}

/*Form Checkbox*/
.checkbox-field {
    max-width: fit-content;
    position: relative;
}
.checkbox-field label {
  padding-right: 25px;
  pointer-events: none;
}
.checkbox-field input {
  position: absolute; 
  content: ''; 
  right: 0;
  top: 50%;
  translate: 0 -50%;
  width: 14px;
  height: 14px;
  opacity: 0;
}
.checkbox-field:before {
  position: absolute;  
  content: '';
  right: 0;
  top: 50%;
  translate: 0 -50%;
  width: 14px;
  height: 14px;
  border: 1px solid var(--border-color);
  pointer-events: none;
}

.checkbox-field:has(input:checked):before {
    background-color: var(--low-priority-hover);
}
.checkbox-field:has(input:checked):after {
    position: absolute;
    content: '\2713';
    color: var(--secondary-color);
    font-size: 1.125rem;
    font-weight: 700;
    right: calc((14px -12px - 2px)/2);
    top: calc((14px -15px - 2px)/2);
    pointer-events: none;
}