/*Fonts*/
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BoldItalic.ttf") format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-BoldItalic.ttf") format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-BoldItalic.ttf") format('truetype');
  font-weight: bold;
  font-style: italic;
}

:root {
  /*General*/
  --body-bg: #99a8bb;
  --body-color: #3c345c;
  --secondary-color: #fff;
  --default-font-size: 16px;
  --font-family: "Quicksand","Poppins","Nunito","Rubik","Arial Rounded MT Bold","Verdana","Tahoma",sans-serif;
  --border-color: #3c345c;
  --container-max: 1140px;
  --container-max-sm: 880px;
  --container-max-sm-mobile: 500px;
  --container-gutter: 12px;
  --primary-color: #4e6190;
  --border-radius: 8px;

  /*Links*/
  --link-color: var(--primary-color);

  /*Header*/
  --header-bg: var(--primary-color);
  --header-p-y: 1rem;
  --header-color: #fff;
  --header-h: 72px;
  --header-h-mb: 112px;

  /*Main*/
  --main-top: 64px;

  /*Logo*/
  --logo-font-style: italic;

  /*Navigation*/
  --nav-btn-padding-x : 0;
  --nav-btn-padding-y : 0.5rem;
  --nav-btn-margin-x: 1rem;
  --nav-btn-margin-y: 0;

  /*Menu*/
  --menu-bg: #fff;
  --menu-mw: 280px;
  --menu-color: var(--link-color);

  /*Headings*/
  --h1-desktop-font-size: 2.5rem; /*40px*/
  --h1-mobile-font-size: 2rem; /*32px*/
  --h2-desktop-font-size: 2rem; /*32px*/
  --h2-mobile-font-size: 1.75rem; /*28px*/
  --h3-desktop-font-size: 1.625rem; /*26px*/
  --h3-mobile-font-size: 1.375rem; /*22px*/
  --h4-desktop-font-size: 1.375rem; /*22px*/
  --h4-mobile-font-size: 1.125rem; /*18px*/
  --h5-desktop-font-size: 1.125rem; /*18px*/
  --h5-mobile-font-size: 1rem; /*16px*/
  --heading-mb: 1rem; /*16px*/

  /*Buttons*/
  --btn-bg: var(--primary-color);
  --btn-color: var(--secondary-color);
  --btn-bg-hover: var(--body-bg);
  --btn-color-color: var(--body-color);
  --btn-font-weight: 700;
  --btn-padding-y: 1rem;
  --btn-padding-x: 2rem;

  /*Paragraph*/
  --paragraph-mb: 0.5rem; /*8px*/

  /*Form*/
  --input-height: 42px;
  --input-mb: 24px;
  --label-mb: var(--paragraph-mb);
  --form-p-x: 24px;
  --form-p-y: var(--form-p-x);
  --form-inner-wmax: 480px;

  /*Footer*/
  --footer-top-desktop: 128px;
  --footer-top-mobile: 112px;
  --footer-bg: var(--header-bg);
  --footer-color: var(--header-color);
  --footer-p-y: 1rem;

  /*Icons*/
  --dlt-color: #880808;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  font-size: var(--default-font-size);
  font-family: var(--font-family);
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: var(--body-bg);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  color: var(--body-color);
}

header {
  grid-area: 1/1;
}

main {
  margin-top: var(--main-top);
  grid-area: 2/1;
}

footer {
  grid-area: 3/1;
}

.container {
  max-width: var(--container-max);
  padding-left: var(--container-gutter);
  padding-right: var(--container-gutter);
  margin-left: auto;
  margin-right: auto;
}

.wmax-sm {
  max-width: var(--container-max-sm);
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

/*Header*/

header {
  background-color: var(--header-bg);
  padding-top: var(--header-p-y);
  padding-bottom: var(--header-p-y);
  color: var(--header-color);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-wrapper {
  display: flex;
}

.logo {
  color: var(--header-color);
  font-style: var(--logo-font-style);
  text-decoration: none;
  font-size: 2em;
  margin-right: auto;
  margin-bottom: 0;
}

.logo:hover {
  text-decoration: none;
}

/*Buttons*/

button {
  outline: none;
  border: none;
  text-decoration: none;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  border-radius: var(--border-radius);
  background-color: var(--btn-bg);
  color: var(--btn-color);
  font-weight: var(--btn-font-weight);
  cursor: pointer;
  transition: all 0.3s linear;
}

button:hover {
  background-color: var(--btn-bg-hover);
  color: var(--btn-color-hover);
}

header button {
  margin: 0;
}

nav button {
  background-color: transparent;
  color: currentColor;
  border-radius: 0;
  margin: var(--nav-btn-margin-y) var(--nav-btn-margin-x);
  padding: var(--nav-btn-padding-y) var(--nav-btn-padding-x);
}

/*Menu*/

nav.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  background: var(--menu-bg);
  max-width: var(--menu-mw);
  width: 100%;
  color: var(--menu-color);
  align-items: start;
  transform: translateX(100%);
  transition: transform 0.3s linear;
}

nav.menu button:not(.menu-close) {
  width: 100%;
  text-align: start;
  padding: 0.5rem 1rem;
  margin: 0;

}

nav.menu button:not(:last-child):not(.menu-close) {
  border-bottom: 1px solid var(--border-color);
}

.menu-open {
  color: currentColor;
  background: transparent;
  border: 1px solid currentColor;
  padding: 8px 16px;
}

.menu-open:hover {
  color: var(--header-bg);
  background: var(--header-color);
  border: 1px solid var(--header-color);
}

.menu-close {
  align-self: end;
}

.menu-open:hover, .menu-close:hover {
  cursor: pointer;
}

.menu[data-menu='open'] {
  transform: translateX(0);
}

nav button:hover {
  text-decoration: underline;
}

/*Main Content*/

h1, h2, h3, h4, h5, h6 {
  margin-bottom: var(--heading-mb);
}

p {
  margin-bottom: var(--paragraph-mb);
}

.bold {
  font-weight: 700;
}

.pt-h {
  padding-top: var(--header-h);
}

img {
  vertical-align: middle;
}

/*Form*/

form {
  padding: var(--form-p-y) var(--form-p-x) !important;
  border-radius: var(--border-radius);
}

form > button {
  margin-bottom: 1.5rem;
  margin-right: 1rem;
}

label, input {
  display: block;
  border-radius: var(--border-radius);
}

label {
  margin-bottom: var(--label-mb);
}

input, textarea, select {
  width: 100%;
  max-width: var(--form-inner-wmax);
  padding: 0.5rem;
  margin-bottom: var(--input-mb);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

input, select {
  height: var(--input-height);
}

summary {
  display: flex;
  align-items: center;
  position: relative;
  list-style: none;
  padding: 10px 40px 10px 10px;
  font-weight: bold;
  background-color: var(--body-bg);
  color: var(--secondary-color);
  border-radius: var(--border-radius);
  margin-bottom: var(--heading-mb);
}

summary label {
  pointer-events: none;
  margin-bottom: 0;
}

summary:hover {
  cursor: pointer;
}

summary::before, summary::after {
  position: absolute;
  content: '';
  top: 50%; 
  translate: 0 -50%; 
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
}

summary::before {
  right: 10px;
  width: 20px;
  height: 4px;
}

summary::after {
  right: calc(20px/2 - 4px/2 + 10px);
  width: 4px;
  height: 20px;
  transition: all 0.3s linear;
}

details[open] summary::after {
  rotate: 90deg; 
}

/*Footer*/

footer {
  background: var(--footer-bg);
  color: var(--footer-color);
  padding-top: var(--footer-p-y);
  padding-bottom: var(--footer-p-y);
}

footer a {
  color: var(--footer-color);
}

@media (max-width: 767px) {
  main {
    padding-top: var(--header-h-mb);
  }
  .container {
    max-width: var(--container-max-sm-mobile);
  }
  .wmax-sm {
    max-width: var(--container-max-sm-mobile);
  }
  h1 {
    font-size: var(--h1-mobile-font-size);
  }
  h2 {
    font-size: var(--h2-mobile-font-size);
  }
  h3 {
    font-size: var(--h3-mobile-font-size);
  }
  h4 {
    font-size: var(--h4-mobile-font-size);
  }
  h5 {
    font-size: var(--h5-mobile-font-size);
  }

  /*Menu*/
  nav.menu {
    top: var(--header-h-mb);
  }

  /*Footer*/ 
  footer {
    margin-top: var(--footer-top-mobile);
  }
}

@media (min-width: 768px) {
  main {
    padding-top: var(--header-h);
  }

  h1 {
    font-size: var(--h1-desktop-font-size);
  }
  h2 {
    font-size: var(--h2-desktop-font-size);
  }
  h3 {
    font-size: var(--h3-desktop-font-size);
  }
  h4 {
    font-size: var(--h4-desktop-font-size);
  }
  h5 {
    font-size: var(--h5-desktop-font-size);
  }

  /*Menu*/
  nav.menu {
    top: var(--header-h);
  }

  /*Footer*/ 
  footer {
    margin-top: var(--footer-top-desktop);
  }
}

/*Icons*/
form .dlt-icon {
  background: unset;
  padding: 0;
}

.dlt-icon {
  cursor: pointer;
  transition: all 0.3s linear;
  margin-left: 0.5rem;
}

.dlt-icon:hover {
  color: var(--dlt-color);
}